.App {
  text-align: center;
  background-color: black;
  width: 100vw;
  /* height: 100vh; */
  background-image: radial-gradient(circle, white 1px, transparent 1px), radial-gradient(circle, white 1px, transparent 1px), radial-gradient(circle, white 1px, transparent 1px), radial-gradient(circle, white 1px, transparent 1px);
  background-size: 150px 150px;
  background-position: 10px 10px, 50px 125px, 125px 95px, 25px 70px;
}

html {  
  background-color: transparent;
  background-image: url(https://cdn.discordapp.com/attachments/1143732783559225437/1160718094629613649/og10x_the_surface_of_an_icy_planet_that_has_volcanos_erupting_a_550e130e-9571-4fb6-934b-a1662402304e.png?ex=6535adf6&is=652338f6&hm=d70d28ad9f1daa478eb192d526863c3261c4bb2313ba65efc08650eb7e479322&);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom;
}
}

body {
  margin: 0;
  background-color: #17182f;
  max-width: 100%;
  overflow-x: hidden;
}

canvas {
  display: block;
  vertical-align: bottom;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
