.App {
  text-align: center;
  background-color: black;
  width: 100vw;
  /* height: 100vh; */
  background-image: radial-gradient(circle, white 1px, transparent 1px), radial-gradient(circle, white 1px, transparent 1px), radial-gradient(circle, white 1px, transparent 1px), radial-gradient(circle, white 1px, transparent 1px);
  background-size: 150px 150px;
  background-position: 10px 10px, 50px 125px, 125px 95px, 25px 70px;
}

body {
  margin: 0;
  background-color: #17182f;
}

canvas {
  display: block;
  vertical-align: bottom;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
